.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #5d00d3,
    #5128df,
    #423ceb,
    #2e4df5,
    #005bff
  );
}
.container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3rem 5rem;
}
.container h1 {
  color: aliceblue;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container form input {
  padding: 0.7rem 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(240, 248, 255, 0.5);
  margin-bottom: 1rem;
  color: aliceblue;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
}
.container form p {
  color: rgb(208, 255, 0);
  font-size: 1rem;
}
.container form span {
  color: rgb(60, 255, 0);
  font-size: 1rem;
}

.container form ::-webkit-input-placeholder {
  color: aliceblue;
}
.container form button {
  padding: 0.7rem 1rem;
  background-color: rgb(211, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.2rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  border: 2px solid rgb(211, 0, 0);
  transition: 0.3s ease;
  color: aliceblue;
}
.container form button:hover {
  transform: scale(1.05);
}
